{% extends 'base.html' %}
{% block title %}Edit | {{ room.name }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="mb-3">Edit Room</h1>

                <form action="{{ url_for('chat.edit_room', room_id=room.room_id) }}" method="post">

                    <div class="form-group mb-3">
                        <label for="room_name">Room name</label>
                        <input type="text" name="room_name" id="room_name" class="form-control"
                               value="{{ room.name }}">
                    </div>

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Username</th>
                            <th>Kick</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for member in room_members %}
                            <tr>
                                <td>{{ member.username }}
                                    {% if member.is_room_admin %}
                                        <span class="badge text-bg-success">Admin</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <button type="submit" name="kick_member" value="{{ member._id }}"
                                            class="btn btn-danger">Kick
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <button type="submit" class="btn btn-success">Save</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}