{% extends 'base.html' %}
{% block title %}Chat | {{ room.name }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="chat-box">
                    <div class="chat-header">
                        <strong class="mb-1">{{ room.name }}</strong>
                    </div>
                    <hr>
                    <div class="messages" style="max-height: 400px; overflow-y: auto;">
                        <ul id="messages_list">
                            {% for message in messages %}
                                <li class="d-flex">
                                    <strong>{{ message.sender }}</strong>: {{ message.text }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="send_message_form">
                        <form id="message_input_form" class="needs-validation" novalidate>
                            <div class="form-floating mb-3">
                                <input name="message_input" type="text" class="form-control" id="message_input"
                                       placeholder="Send a message..." style="margin: 5px">
                                <label for="message_input">Send a message...</label>
                            </div>
                            <button type="submit" class="btn btn-success">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="username_data" data-username="{{ username }}" style="display: none"></div>
        <div id="room_id_data" data-room_id="{{ room._id }}" style="display: none"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/socketio_events.js') }}"></script>
{% endblock %}


