{% extends 'base.html' %}
{% block title %}Chat | {{ room.name }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="chat-box">
                    <div class="chat-header">
                        <strong class="mb-1">{{ room.name }}</strong>
                    </div>
                    <hr>
                    <div class="messages" style="max-height: 400px; overflow-y: auto;">
                        <ul id="messages_list">
                            {% for message in messages %}
                                <li class="d-flex">
                                    <strong>{{ message.sender }}</strong>: {{ message.text }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="send_message_form">
                        <form id="message_input_form" class="needs-validation" novalidate>
                            <div class="form-floating mb-3">
                                <input name="message_input" type="text" class="form-control" id="message_input"
                                       placeholder="Send a message..." style="margin: 5px">
                                <label for="message_input">Send a message...</label>
                            </div>
                            <button type="submit" class="btn btn-success">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
    <script>
        const username = "{{ username }}";
        const room_id = "{{ room._id }}";
        const socket = io.connect("http://127.0.0.1:5000") // socket connection
        // on connection
        socket.on("connect", function (data) {
            socket.emit('join_room', {
                username: username,
                room_id: room_id
            })
        })


        let message_input = document.getElementById("message_input")

        // message handling
        document.getElementById("message_input_form").onsubmit = function (e) {
            e.preventDefault(); // prevent form submitting by default
            let message = message_input.value.trim() // trim white spaces
            if (message.length) {
                // if the message length > 0
                socket.emit("send_message", {
                    username: username,
                    room_id: room_id,
                    message: message
                })
            }
            message_input.value = "" // make the message input empty after sending a message
            message_input.focus()
        }

        window.onbeforeunload = function (data) {
            socket.emit('leave_room', {
                username: username,
                room_id: room_id
            })
            console.log("Leave triggered")
        };

        // sent message, handling from python backend
        socket.on("receive_message", function (data) {
            console.log(data)
            const newNode = document.createElement("li")
            newNode.className = "d-flex"
            newNode.innerHTML = `<b>${data.username}:&nbsp;</b> ${data.message}`
            document.getElementById("messages_list").appendChild(newNode);
        })

        // join announcement handling
        socket.on("join_room_announcement", function (data) {
            console.log(data)
            const newNode = document.createElement("li")
            newNode.className = "d-flex"
            newNode.innerHTML = `<b>${data.username}&nbsp;</b>has joined the room`
            document.getElementById("messages_list").appendChild(newNode);
        })

        // leave announcement handling
        socket.on('leave_room_announcement', function (data) {
            const newNode = document.createElement('li');
            newNode.className = "d-flex"
            newNode.innerHTML = `<b>${data.username}&nbsp;</b> has left the room`;
            document.getElementById('messages_list').appendChild(newNode);
        });

    </script>
{% endblock %}


